.wrapper {
  @include flex(center, center, column);

  .tagsWrapper {
    width: 100%;
    padding: 20px;
    gap: 10px;

    @include flex(center, center);

    .tag {
      cursor: pointer;
      border: 1px solid black;
      padding: 4px 8px;
      border-radius: 8px;
    }

    .isSelected {
      color: white;
      border: 1px solid blue;
      background-color: #264db1;
    }
  }

  .postWrapper {
    @include flex(flex-start, flex-start, column);
    width: 100%;
    padding: 20px;

    .postTitle {
      padding: 10px;
    }

    .postContent {
      @include flex(flex-start, flex-start);
      width: 100%;
      padding: 10px;
      gap: 10px;

      .post {
        .thumbnail {
          border: 1px solid black;
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}
