.wrapper {
  width: 500px;
  cursor: pointer;

  .thumbnail {
    width: 500px;
    height: 350px;
    border-radius: 20px;
  }

  .title {
    @include font($size: 20px, $weight: 600);
    margin: 10px 8px;
  }

  .tagWrapper {
    @include flex(center, flex-start);
    flex-wrap: wrap;
  }
}
