.table {
  display: table;
  width: 100%;
  border-collapse: collapse;

  .tableHeader {
    display: table-row;
    background-color: rgba(207, 207, 207, 0.79);
    font-weight: 600;
    white-space: nowrap;
  }

  .tableBody {
    display: table-row;
    white-space: wrap;
    word-break: break-all;
  }

  .cell {
    display: table-cell;
    border: 1px solid black;
    padding: 10px;
    vertical-align: middle;
  }
}

.highlight {
  white-space: nowrap;
}

.highlight + .highlight {
  margin-left: 2px;
}
