.wrapper {
  width: 100%;
  @include flex(center, center, column);

  .header {
    // todo : 반응형에 따라서 width 결정
    width: 70%;
    height: 80px;
    @include flex(center, flex-start);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);

    gap: 60px;

    .logo {
      width: 140px;
    }

    .item {
      @include font($weight: 600);
      min-width: 72px;
      cursor: pointer;
    }

    .profile {
      @include font($weight: 600);
      margin-left: auto;
    }
  }
}
