.wrapper {
  width: 100%;
  @include flex(center, center, column);

  .header {
    width: 100%;
    @include flex(center, center, column);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }

  .content {
    width: 70%;
  }
}
