.wrapper {
  width: 100%;
  display: flex;
  padding: 10px 20px;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid black;

  .title {
    font-weight: 600;
    font-size: 24px;
  }
}
