.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin: auto;
  width: 70%;
}

.content {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mainTitle {
  margin: 20px;
  font-size: 36px;
}

.splitGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
}
