.rhs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  justify-content: center;
}

.mainPhoto {
  width: 100%;
  height: auto;

  max-width: 200px;

  border-radius: 20px;
}

.boxWrapper {
  width: 100%;
  display: flex;
  justify-content: baseline;
  gap: 10px;
  flex-wrap: wrap;
}

.blogTitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}
