.wrapper {
  @include flex(center, center, column);

  .mainImage {
    width: 100%;
    height: 600px;

    // 임시 이미지
    background-image: url('@images/background_cat.png');
    background-size: cover;
  }

  .introduce {
    width: 100%;
    padding: 70px;
    @include flex(center, space-between);

    .item {
      width: 100%;
      padding: 30px;

      p + p {
        padding-top: 20px;
      }
    }

    .lhs {
      @include flex(flex-start, center, column);

      p {
        @include font($size: 36px, $weight: 600);
      }
    }

    .rhs {
      @include flex(center, center, column);

      p {
        @include font($size: 60px, $weight: 700);
      }
    }
  }

  .introduceMore {
    @include font($size: 24px, $weight: 600);
    cursor: pointer;
    margin: 0 10px 30px auto;
    text-decoration: underline;
  }

  .title {
    @include font($size: 60px, $weight: 700);
    margin: 20px auto 20px 70px;
  }

  .projects {
    width: 100%;

    @include flex(center, center);

    .project {
      @include flex(center, center, column);
      @include font($size: 24px, $weight: 600, $color: white);

      width: 700px;
      height: 500px;

      margin: 20px;
      border-radius: 30px;
      background-color: black;
    }
  }

  .posts {
    width: 100%;
    @include flex(center, flex-start);
    overflow-x: auto;

    gap: 30px;

    .post {
      width: 300px;
      height: 200px;
      min-width: 300px;

      border: 1px solid red;
    }
  }
}
